doctype html
html
  head
    title
      | ExpressJS Blog
    link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/app.css")
      
  body(ng-app="blogApp")
    nav(class="navbar navbar-default" role="navigation" ng-controller="NavController")
      div(class="container-fluid")
        div(class="navbar-header")
          a(class="navbar-brand" href="/")
            | BlogMe
        div(class="container-fluid")
          ul(class="nav navbar-nav")
            li
              a(href="{{posts.link}}")
                | {{posts.label}}
          ul(class="nav navbar-nav navbar-right")
            li
              a(href="/users/login")
                | Login
            li
              a(href="/users/register")
                | Register

    div(class="container" ng-view)

    footer(class="sticky-footer text-center")
      | Write your wrongs.

    script(src="/lib/jquery/dist/jquery.min.js")
    script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
    script(src="/lib/angular/angular.js")
    script(src="/lib/angular-route/angular-route.js")
    script(src="/js/app.js")
    script(src="/js/controllers/nav-controller.js")